#container {
    display: flex;
    align-items: center;
    position: relative;
    isolation: isolate; 
    

    
    &.seleccionado::before {
        content: '';
        width: calc(100% + 8px);
        position: absolute;
        left: 0px;
        background-color: #da4443;
        height: 120%;
        z-index: -1;
        border-radius: 5px;
    }
}


#flecha {
    height: 20px;
    padding: 0px 10px;
    position:absolute;
}

#tarjeta {
    display: flex;
    align-items: center;
    background-color: #fceab8;
    border-radius: 25px 5px 5px 25px;
    width: 90%;
    font-size: larger;
    padding-left: 5px;
    gap: 1rem;
    margin-left: 30px;
}

#circulo {
    border-radius: 50%;
    height: 25px;
    aspect-ratio: 1;
    background-color: rgba(0, 0, 0, 0.137);
}

img {
    max-height: 40px;
}