body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*IMPORTANTE: Ponerla en el body para que la herencia se aplique a todo el documento*/
}


p{
    margin: 0;
}